 {
  background-image: url("https://images.unsplash.com/photo-1695825495394-e3af4e73267f?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - (71.44px + 40px));
  margin-left: 25px;
  margin-right: 25px;
  border-radius: 25px;
  position: relative;
  font-family: "Poppins", serif;
}
.hero-title {
  font-size: 40px;
  color: white;
  position: absolute;
  bottom: 50px;
  left: 20px;
  font-size: 100px;
}
.hero-sub {
  font-size: 30px;
  font-weight: 300;
  margin-top: -30px;
}
