.hero-section {
  background-image: url("https://images.unsplash.com/photo-1509042239860-f550ce710b93");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - (71.44px + 40px));
  margin-left: 25px;
  margin-right: 25px;
  border-radius: 25px;
  position: relative;
  font-family: "Poppins", serif;
  color: white;
}

.hero-title {
  position: absolute;
  bottom: 100px;
  left: 40px;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.hero-main {
  font-size: 60px;
  font-weight: bold;
}

.hero-sub {
  font-size: 21px;
  font-weight: 200;
  margin-top: 10px;
}

.hero-buy-now {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: #ff5722;
  color: white;
  font-size: 18px;
  font-weight: 600;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  gap: 10px; /* Spacing between icon and text */
  transition: all 0.3s ease;
}

.hero-buy-now svg {
  width: 20px;
  height: 20px;
}

.hero-buy-now:hover {
  background-color: #e64a19;
  transform: scale(1.05);
}
